body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	color: #000000;
	width: 100%;
}

li{
	list-style-type: none;
}

#main_header .Logo{
	position: absolute;
	z-index: 1;
	padding: 20px;
}

/* Top */
#main_header .Top{
	left: 10;
	top: 0;
	height: 85px;
	width: 100%;
	background-color: #0a1747;
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #FFFFFF
}

#main_header .Top .WebTitle{
	font-size: 48px;
	padding-left: 260px;
}

#main_header .Top ul {
	display: flex;
}

#main_header .Top ul a{
	font-family: 'OpenSansBold';
	font-size: 24px;
	padding: 10px;
	display: inline-block;
	margin-left: 20px;
	color:#FFFFFF
}

/* Options */
#main_header .Options
{
	height: 136px;
	width: 100%;
	background-color: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: space-between;
}

#main_header .Options ul {
	display: flex;
	padding-left: 260px;
}

#main_header .Options ul a{
	font-family: 'OpenSansBold';
	font-size: 24px;
	padding: 30px;
	color: #0a1747
}

/* Main */
.Full{
	background: url('Images/Main_Background.png') repeat center top;
	height: 3000px;
	min-height: 100%;
	margin: 0;
	width: 100%;
	display: flex;
}

.Left{
	width: 15vw;
}

.Main{
	width: 60vw;
}

.Right{
	width: 15vw;
}

/* Sidebar Left */
.Sidebar_l{
	position: absolute;
	z-index: 1;
	left: 0;
}

.Sidebar_l img{
	width: 15vw;
}

/* Popular */
.Popular{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	margin-left: 14px;
	padding-top: 24px;
	padding-bottom: 28px;
	width: 10vw;
}

.Popular ul{
	display: flex;
}

.Popular li{
	position: relative;
	display: flex;
	padding: 0px;
	text-align: left;
	color: #FFFFFF;
	align-items: flex-end;
}

.Tint{
	position: relative;
	float:left;
}

.Tint:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0, 0.5);
	z-index: 1;
}

.Popular li img{
	position: relative;
	display: block;
	width: 20vw;
}

.Popular ul p
{
	position: absolute;
	z-index: 1;
	padding: 10px;
	font-size: 1.2vw;
}

/* News */

.News{
	position: relative;
	margin-left: 14px;
	padding: 26px 30px;

	width: 50vw;
}

.News{
	content: "";
	display: block;
	position: absolute;
	background: rgb(255, 255, 255);
}

.News h2{
	padding-top: 20px;
	padding-bottom: 18px;
}

.News h2 a{
	color: #000000;
	font-size: 48px;
}

.News header p{
	color: #858585;
	font-size: 18px;
	padding-bottom: 20px;
}

.News header p a{
	color: #858585;
}

.News img{
	padding-bottom: 20px;

	width: 50vw;
}

.News .Brief{
	background: #FFFFFF;
	border: 4px solid #2c2c2c;
	border-radius: 10px;
	width: 730px;
	width: 50vw;
}

.News .Brief p{
	color: #000000;
	font-size: 24px;
	padding: 10px 20px;
}

.News .Separator{
	background: #858585;
	width: 730px;
	height: 4px;
	z-index: 1;
	margin-top: 48px;
	margin-bottom: 2px;
	width: 50vw;
}

/* Navigation Panel */

.Navigation{
	background: #2c2c2c;
	margin-top: 26px;
	width: 730px;
	height: 62px;
	width: 50vw;
	height: auto;
}

.Navigation ul{
	display: flex;
	padding-top: 12px;
	justify-content: center;
	align-items: center;
}

.Navigation li{
	padding-right: 30px;
}

.Navigation img{
	width: 1vw;
}

/* Sidebar Right*/
.Sidebar_r{
	z-index: 2;
	position: relative;
	padding-top: 27vh;
	width: 266px;
	width: 20vw;
}

.Sidebar_r .Hot{
	background: #FFFFFF;
	padding:16px 22px;
}

.Sidebar_r input[type=text]{
	border: 1px solid #2c2c2c;
	border-radius: 5px;
	font-size: 24px;
	color: #c6c6c6;
	padding: 12px 14px;
	margin-bottom: 58px;
	width: 87%;
}

.Sidebar_r input[type=text]::placeholder{
	color: #c6c6c6;
}

.Sidebar_r h3{
	font-size: 24px;
	color: #8a8a8a;
}

.Sidebar_r .Separator{
	background: #8a8a8a;
	height: 4px;
	z-index: 2;
	margin-top: 14px;
	margin-bottom: 14px;
}

.Sidebar_r ul{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.Sidebar_r li{
	padding-bottom: 16px;
	width: 20vw;
}

.Sidebar_r li p{
	margin-left: 90px;
	margin-left: 8vw;
	padding-top: 5px;
	color: #8a8a8a;
	line-height: 1.5;
	font-size: 1vw;
}

.Sidebar_r .Hot li img{
	width: 7vw;
	height: auto;
}

.Sidebar_r .Add img{
	padding-top: 20px;
	width: 23.3vw;
}

/* Footer */

footer{
	position: relative;
	background: #0a1747;
	bottom: 0;
}

footer ul{
	display: flex;
}

.FooterItem:nth-of-type(1){
	width: 234px;
}
.FooterItem:nth-of-type(2){
	width: 788px;
}

footer .WhiteLogo{
	padding: 20px;
	z-index: 1;
}

footer .Options{
	display: flex;
	justify-content: center;
	padding: 96px 0;
}


footer .Options a{
	padding: 30px;
	color: #FFFFFF;
	font-size: 24px;
}

footer .SocialNetworks{
	position: relative;
	display: flex;
	justify-content: center;
	align-content: flex-start;
}

footer .SocialNetworks figure {
	padding-right: 40px;
	padding-top: 150px;
}

@media(max-width: 900px)
{
	#main_header .Logo img{
		width: 25vw;
	}

	/* Options */
	#main_header .Options
	{
		height: auto;
		width: 100%;
	}

	#main_header .Options ul {
		display: flex;
		flex-direction: column;
		padding: 30px;
	}

	#main_header .Options ul li{
		padding: 10px;
	}

	.Full{
		height: 2400px;
		min-height: 100%;
		margin: 0;
		width: 100%;
		display: flex;
	}

	.Left{
		width: 15vw;
	}

	.Main{
		width: 80vw;
	}

	.Right{
		opacity: 0;
	}

	/* Popular */
	.Popular{
		margin-left: 24px;
		width: 30vw;
	}

	.Popular li img{
		width: 25vw;
	}

	/* News */
	.News{
		position: relative;
		margin-left: 24px;
		padding: 26px 30px;
		width: 70vw;
	}

	.News{
		content: "";
		display: block;
		position: absolute;
		background: rgb(255, 255, 255);
	}

	.News img{
		width: 70vw;
	}

	.News .Brief{
		width: 70vw;
	}

	.News .Separator{
		width: 70vw;
	}

	/* Navigation Panel */

	.Navigation{
		width: 70vw;
		height: auto;
	}

	.Navigation img{
		width: 1vw;
	}

	/* Footer */
	footer .WhiteLogo{
		padding: 20px;
		z-index: 1;
	}

	footer .Options{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 24px 0;
	}

	footer .Options li{
		padding: 10px;
	}

	footer .SocialNetworks{
		opacity: 0;
	}
}
